/* Home Hero 1.0 */
.hero_section {
    position: relative;
    background: 
        url("../assets/hero/hero-1.jpg") no-repeat center center;
        /* background: url("../assets/hero/drinks"); */
    background-size: cover;
    background-attachment: fixed;
    padding-top: 170px;
    padding-bottom: 90px;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  }

  .hero_section .price_badge {
    background: url("../assets/hero/price-badge-yellow.png") no-repeat center
      center;
    background-size: cover;
    position: absolute;
    top: 140px;
    right: 220px;
    width: 180px;
    height: 176px;
    text-align: center;
  }
  .img-fluid{
    width: 500px;
    height: 700px;
    /* position: absolute; */
    top: 15px;
    right: 70px;

  }
  #plus_icon{
    font-size: xxx-large;
  }
  #drinks_img{
    position:relative;
    width: 190px;
    height: 270px;
    top: 32%;
    right: 7px;
  }
  #hero_section_Cotaniner2{
    margin-top: 50px;
}
  .hero_section .badge_text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .hero_section .badge_text .h4_xs {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1;
  }
  .hero_section .badge_text .h3_lg {
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 1;
  }
  .hero_section .hero_text h1 {
    font-family: var(--lilita-font);
    font-size: 7rem;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing: 3px;
  }
  .hero_section .hero_text h2 {
    font-family: var(--lilita-font);
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }
  .hero_section .hero_text p {
    padding: 0 5%;
  }
/* home about */

.about_section {
    padding-top: 80px;
    padding-bottom: 300px;
    background: url("../assets/about/about_2.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
  }
  .about_section h2 {
    font-size: 3.5rem;
  }
  .about_section p {
    color: var(--grey);
    padding: 20px 30px;
    font-size: 19px;
  }
  .about_wrapper{
    /* margin-top: 10px; */
    padding-top: 70px;
    padding-bottom: 30px;
    background: yellow
  }
  .about_box .about_icon img {
    width: 25%;
    height: 25%;
  }
  .about_box h4 {
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.5008px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .about_box p {
    padding: 0 20px;
  }
  /* menu Section */
  .menu_section{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .menu_section .card-img-top{
    transition: all 500ms ease-in-out;
  }
  .menu_section h2{
    font-size: 3.5rem;
    color: var(--light-red);
  }
.menu_section .para{
  color: var(--grey);
  padding: 10px 100px;
  font-size: 19px;
}
.menu_section .item_rating i{
  color:var(--yellow);
  padding-right: 5px;
}
.menu_section .wishlist i{
  color: var(--grey);
  font-size: 20px;
  cursor: pointer;
}
.menu_section .wishlist i:hover{
  color: var(--light-red);
  /* background-color: var(--light-red); */
}
.menu_section .card-title{
  font-family:  var(--oswald-font);
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5px;
}
.cardImage{
  width: 320px;
  height: 250px;
}
.menu_section .card-text {
  color: var(--grey);
  font-size: 15px;
}
.menu_section .menu_price{
  background-color: var(--bg-coffee);
  display: inline-block;
  padding: 7px 12px;
  border-radius: 4px;
}
.menu_section .menu_price h5 {
  color: var(--yellow);
  font-size: 1rem;
}
.menu_section .add_to_card a {
  background: var(--yellow);
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  padding: 8px 14px;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(100px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.menu_section .card:hover .card-img-top {
  transform: scale(1.1);
}
.menu_section .card:hover .add_to_card a {
  transform: translateY(0px);
  opacity: 1;
}
/* .search{
  input{
    color: black;
  background-color: transparent;
  border:1px solid  red;
  color:white;
  border-radius:5px;
     height:40px;
font-size:16px;
padding:0 10px ;
::placeholder{
  color: white;
}
  }
} */
body{

  background: #d1d5db;
}

.height{

  /* height: 10vh; */
}

.form{

  position: relative;
  margin-top: -70px;
}

.form .fa-search{

  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;

}

.form span{

      position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 
 padding-left: 10px;
}

.form-input{

  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}



  @media (max-width: 992px) {
    /* Home About 2.0 */
    .about_section {
        /* padding-top: 80px; */
        padding-bottom: 155px;
    }
    .about_section h2 {
      font-size: 2.5rem;
    }
    .about_section p {
      padding: 20px 0;
    }
    .about_box p {
      padding: 0;
    }
}
  /* Mobile media query */
  @media(max-width:767px){
    /* home hero */
    .hero_section .hero_text h1{
        font-size: 5.5rem;
    }
    .hero_section .price_badge{
        top: 50px;
    right: 20px;
    }
    #drinks_img{
        position: absolute;
        left: -20px;
    }
    #hero_section_Cotaniner2{
        margin-top: -190px;
    }
    #plus_icon{
        display: none;
    }
/* Menu Setion3 */
.cardImage {
  width: 100%;
  height: 250px;
}
.menu_section .add_to_card a{
  transform: translateY(0px);
  opacity: 1;
}
.menu_section .para {
  padding: 5px 0px;

  
}
  }